<div>
    <p-toast></p-toast>
    <form [formGroup]="ManualRequestForm" (ngSubmit)="onSubmit()">
        <div class="card p-fluid dialog_scrollable_content">

            <div class="field grid col-12">
                <label class="col-12  md:col-4">Instance Name:</label>
                <div class="col-12 md:col-8">
                    <input pInputText formControlName="instanceName"
                        [class]="instanceName.errors?.['required'] && (instanceName.touched || instanceName.dirty) ? 'ng-dirty ng-invalid ':''" />
                    <div class="text-red-500"
                        *ngIf="instanceName.errors?.['required'] && (instanceName.touched || instanceName.dirty)">
                        Instance Name is required!
                    </div>
                </div>
            </div>

            <div class="field grid col-12">
                <label class="col-12  md:col-4">Friendly Instance Name:</label>
                <div class="col-12 md:col-8">
                    <input pInputText formControlName="instanceNameFriendly"
                        [class]="instanceNameFriendly.errors?.['required'] && (instanceNameFriendly.touched || instanceNameFriendly.dirty) ? 'ng-dirty ng-invalid ':''" />
                    <div class="text-red-500"
                        *ngIf="instanceNameFriendly.errors?.['required'] && (instanceNameFriendly.touched || instanceNameFriendly.dirty)">
                        Friendly Instance Name is required!
                    </div>
                </div>
            </div>

            <div class="field grid col-12">
                <label class="col-12  md:col-4">Instance URL:</label>
                <div class="col-12 md:col-8">
                    <input pInputText formControlName="instanceURL"
                        [class]="instanceURL.errors?.['required'] && (instanceURL.touched || instanceURL.dirty) ? 'ng-dirty ng-invalid':''" />
                    <div class="text-red-500"
                        *ngIf="instanceURL.errors?.['required'] && (instanceURL.touched || instanceURL.dirty)">
                        Instance URL is required!
                    </div>
                </div>
            </div>

            <div class="field grid col-12">
                <label class="col-12  md:col-4">Product Name:</label>
                <div class="col-12 md:col-8">
                    <input pInputText formControlName="productName"
                        [class]="productName.errors?.['required'] && (productName.touched || productName.dirty) ? 'ng-dirty ng-invalid':''" />
                    <div class="text-red-500"
                        *ngIf="productName.errors?.['required'] && (productName.touched || productName.dirty)">
                        Product Name is required!
                    </div>
                </div>
            </div>

            <div class="field grid col-12">
                <label class="col-12  md:col-4">License Generator Name:</label>
                <div class="col-12 md:col-8">
                    <input pInputText formControlName="generatedByName"
                        [class]="generatedByName.errors?.['required'] && (generatedByName.touched || generatedByName.dirty) ? 'ng-dirty ng-invalid':''" />
                    <div class="text-red-500"
                        *ngIf="generatedByName.errors?.['required'] && (generatedByName.touched || generatedByName.dirty)">
                        License Generator Name is required!
                    </div>
                </div>
            </div>

            <div class="field grid col-12">
                <label class="col-12  md:col-4 ">License Generator Email:</label>
                <div class="col-12 md:col-8">
                    <input pInputText formControlName="generatedByEmail"
                        [class]="generatedByEmail.errors?.['required'] && (generatedByEmail.touched || generatedByEmail.dirty) ? 'ng-dirty ng-invalid':''" />
                    <div class="text-red-500"
                        *ngIf="generatedByEmail.errors?.['required'] && (generatedByEmail.touched || generatedByEmail.dirty)">
                        License Generator Email is required!
                    </div>
                </div>
            </div>

            <div class="field grid col-12">
                <label class="col-12  md:col-4 ">Relativity Version:</label>
                <div class="col-12 md:col-8">
                    <input pInputText formControlName="relativityVersion"
                        [class]="relativityVersion.errors?.['required'] && (relativityVersion.touched || relativityVersion.dirty) ? 'ng-dirty ng-invalid':''" />
                    <div class="text-red-500"
                        *ngIf="relativityVersion.errors?.['required'] && (relativityVersion.touched || relativityVersion.dirty)">
                        Relativity Version is required!
                    </div>
                </div>
            </div>
            <div class="field grid col-12">
                <label class="col-12  md:col-4 ">Relativity Core Version:</label>
                <div class="col-12 md:col-8">
                    <input pInputText formControlName="relativityVersionCore"
                        [class]="generatedByEmail.errors?.['required'] && (relativityVersionCore.touched || relativityVersionCore.dirty) ? 'ng-dirty ng-invalid':''" />
                    <div class="text-red-500"
                        *ngIf="generatedByEmail.errors?.['required'] && (relativityVersionCore.touched || relativityVersionCore.dirty)">
                        Relativity Core Version is required!
                    </div>
                </div>
            </div>
            <div class="field grid col-12">
                <label class="col-12  md:col-4 ">Workspace Version:</label>
                <div class="col-12 md:col-8">
                    <input pInputText formControlName="workspaceVersion"
                        [class]="workspaceVersion.errors?.['required'] && (workspaceVersion.touched || workspaceVersion.dirty) ? 'ng-dirty ng-invalid':''" />
                    <div class="text-red-500"
                        *ngIf="workspaceVersion.errors?.['required'] && (workspaceVersion.touched || workspaceVersion.dirty)">
                        Workspace Version is required!
                    </div>
                </div>
            </div>

            <div class="field grid col-12">
                <label class="col-12  md:col-4">Organization:</label>
                <div class="col-12 md:col-8">
                    <div class="flex">
                        <p-dropdown placeholder="select organization" [options]="organizations" optionValue="artifactId"
                            optionLabel="name" formControlName="organization" appendTo="body"
                            [class]="organization.errors?.['required'] && (organization.touched || organization.dirty) ? 'ng-dirty ng-invalid org_dropdown':'org_dropdown'">
                        </p-dropdown>
                        <p-button icon="pi pi-plus" (onClick)="AddOrganization()"></p-button>
                    </div>

                    <div class="text-red-500"
                        *ngIf="organization.errors?.['required'] && (organization.touched || organization.dirty)">
                        Organization is required!
                    </div>
                </div>
            </div>

            <div class="field grid col-12">
                <label class="col-12  md:col-4">License Start Date:</label>
                <div class="col-12 md:col-8">
                    <!-- <p-calendar formControlName="startDate" [showIcon]="true" [minDate]="minStartDate"
                        (ngModelChange)="setMinEndDate($event)"
                        [class]="startDate.errors?.['required'] && (startDate.touched || startDate.dirty) ? 'ng-dirty ng-invalid':''"></p-calendar> -->
                    <p-calendar formControlName="startDate" [showIcon]="true" appendTo="body"
                        [class]="startDate.errors?.['required'] && (startDate.touched || startDate.dirty) ? 'ng-dirty ng-invalid':''"></p-calendar>
                    <div class="text-red-500"
                        *ngIf="startDate.errors?.['required'] && (startDate.touched || startDate.dirty)">
                        License Start Date is required!
                    </div>
                </div>
            </div>

            <div class="field grid col-12">
                <label class="col-12  md:col-4">License End Date:</label>
                <div class="col-12 md:col-8">
                    <!-- <p-calendar formControlName="endDate" [showIcon]="true"
                        [minDate]="(minStartDate > minEndDate) ? minStartDate : minEndDate"
                        [class]="endDate.errors?.['required'] && (endDate.touched || endDate.dirty) ? 'ng-dirty ng-invalid':''"></p-calendar> -->
                    <p-calendar formControlName="endDate" [showIcon]="true" appendTo="body"
                        [class]="endDate.errors?.['required'] && (endDate.touched || endDate.dirty) ? 'ng-dirty ng-invalid':''">
                    </p-calendar>
                    <div class="text-red-500"
                        *ngIf="endDate.errors?.['required'] && (endDate.touched || endDate.dirty)">
                        License End Date is required!
                    </div>
                </div>
            </div>

            <div class="field grid col-12">
                <label class="col-12  md:col-4">Send license via email?</label>
                <div class="col-12 md:col-8">
                    
                    <p-inputSwitch formControlName="isMailToBeSend" />
                </div>
            </div>

        </div>
        <div class="field col-12 md:col-12 logic_buttons dialog_footer_buttons">
            <div class="flex justify-content-end">
                <div class="field mr-2 mb-0">
                    <button pButton pRipple label="Save" icon="pi pi-check" type="submit"></button>
                </div>
                <div class="field mb-0">
                    <p-button label="Cancel" icon="pi pi-times" (onClick)="onCancel()"></p-button>
                </div>
            </div>
        </div>
    </form>
</div>