<p-table #dt [value]="licenseRequests"  dataKey="id" styleClass="p-datatable-customers"
    [rowHover]="true" [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading"
    [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0"
    [globalFilterFields]="['name','country.name','representative.name','status']">

    <ng-template pTemplate="caption">
        <div class="table-header flex flex-row justify-content-between">
            <div>
                <h2>License Requests</h2>
            </div>

            <div class="flex flex-row justify-content-between">
                <div class="mr-2">
                    <p-button icon="pi pi-plus" (onClick)="AddAutomatedLicenseRequest()"
                        label="Automated License Request">
                    </p-button>
                </div>
                <div>
                    <p-button icon="pi pi-plus" (onClick)="AddManualLicenseRequest()" label="Manual License Request">
                    </p-button>
                </div>

            </div>

        </div>
    </ng-template>

    <ng-template pTemplate="header">
        <tr>
            <th style="width: 3rem"></th>
            <th pSortableColumn="productGUID">Product Guid <p-sortIcon field="productGUID"></p-sortIcon></th>
            <th pSortableColumn="requestGeneratedByName">Request Generator Name <p-sortIcon field="requestGeneratedByName"></p-sortIcon>
            </th>
            <th pSortableColumn="requestGeneratedByEmail">Request Generator Email <p-sortIcon field="requestGeneratedByEmail"></p-sortIcon></th>
            <th pSortableColumn="requestCreatedOn">Request Creation Date<p-sortIcon field="requestCreatedOn"></p-sortIcon></th>
            <th pSortableColumn="organizationArtifactId">Organization<p-sortIcon field="organizationArtifactId"></p-sortIcon></th>
            <th pSortableColumn="workspaceGUID">workspace<p-sortIcon field="workspaceGUID"></p-sortIcon></th>
            <th pSortableColumn="relativityInstanceGUID">Relativity Instance <p-sortIcon field="relativityInstanceGUID"></p-sortIcon>
            </th>
            <th style="width: 8rem"></th>
        </tr>
        <!-- <tr>
            <th>
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th>
                <input pInputText type="text" (input)="dt.filter($any($event.target).value, 'name', 'startsWith')"
                    placeholder="Search by Name" class="p-column-filter">
            </th>
            <th>
                <input pInputText type="text" (input)="dt.filter($any($event.target).value, 'country.name', 'contains')"
                    placeholder="Search by Country" class="p-column-filter">
            </th>
            <th>
                <p-multiSelect [options]="representatives" placeholder="All" (onChange)="onRepresentativeChange($event)"
                    styleClass="p-column-filter" optionLabel="name">
                    <ng-template let-option pTemplate="item">
                        <div class="p-multiselect-representative-option">
                            <span class="p-ml-1">{{option.label}}</span>
                        </div>
                    </ng-template>
                </p-multiSelect>
            </th>
            <th>
                <p-calendar (onSelect)="onDateSelect($event)" (onClearClick)="dt.filter('', 'date', 'equals')"
                    [showButtonBar]="true" styleClass="p-column-filter" placeholder="Registration Date"
                    [readonlyInput]="true" dateFormat="yy-mm-dd"></p-calendar>
            </th>
            <th>
                <p-dropdown [options]="statuses" (onChange)="dt.filter($event.value, 'status', 'equals')"
                    styleClass="p-column-filter" placeholder="Select a Status" [showClear]="true">
                    <ng-template let-option pTemplate="item">
                        <span
                            [class]="'customer-badge status-' + option.value">&#123;&#123;option.label&#125;&#125;</span>
                    </ng-template>
                </p-dropdown>
            </th>
            <th>
                <input pInputText type="text" (input)="onActivityChange($event)" placeholder="Minimum"
                    class="p-column-filter">
            </th>
            <th></th>
        </tr> -->
    </ng-template>
    <ng-template pTemplate="body" let-licenseRequest>
        <tr class="p-selectable-row">
            <td></td>
            <td>
                {{licenseRequest.productGUID}}
            </td>
            <td>
                {{licenseRequest.requestGeneratedByName}}
            </td>
            <td>
                {{licenseRequest.requestGeneratedByEmail}}
            </td>
            <td>
                {{licenseRequest.requestCreatedOn}}
            </td>
            <td>
                {{licenseRequest.organizationArtifactId}}
            </td>
            <td>
                {{licenseRequest.workspaceGUID}}
            </td>
            <td>
                {{licenseRequest.relativityInstanceGUID}}
            </td>
            <td></td>
            
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr class="">
            <td colspan="8">
                <div class="flex justify-content-center">
                    No licenses found.
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>